@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@layer base {
  :root {
    --background: rgb(23,25,29);
    --text: #ffffff;
  }

  :root[class~="light"] {
    --background: #ffffff;
    --text: #000000;
  }

  body {
    @apply bg-background-dark text-text-dark transition-colors duration-200;
  }

  .light body {
    @apply bg-background-light text-text-light;
  }
}

model-viewer {
  background-color: transparent;
  --poster-color: transparent;
}
